{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
  <div class="card shadow-sm">
    <div class="card-body">
      <h2 class="card-title mb-4">
        {% if object %}Editar Mesa{% else %}Crear Nueva Mesa{% endif %}
      </h2>
      <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="mb-3">
          {{ form.nombre.label_tag }}
          {{ form.nombre }}
          {{ form.nombre.errors }}
        </div>
        <div class="mb-3">
          {{ form.capacidad.label_tag }}
          {{ form.capacidad }}
          {{ form.capacidad.errors }}
        </div>
        <div class="mb-3">
          {{ form.estado.label_tag }}
          {{ form.estado }}
          {{ form.estado.errors }}
        </div>
        <button type="submit" class="btn btn-success">Guardar</button>
        <a href="{% url 'adminis:change_rol' sede.pk %}" class="btn btn-secondary ms-2">Cancelar</a>
      </form>
    </div>
  </div>
</div>
{% endblock %}
