<!DOCTYPE html>
<html>
<head>
    <title>Registro de Usuario</title>
</head>
<body>
    <h1>Registro de nuevo usuario</h1>
    
    <form method="post">
        {% csrf_token %}
        
        <div>
            <label for="id_name">Nombre completo:</label>
            {{ form.name }}
        </div>
        
        <div>
            <label for="id_email">Correo electrónico:</label>
            {{ form.email }}
        </div>
        
        <div>
            <label for="id_pwd">Contraseña:</label>
            {{ form.pwd }}
        </div>
        
        <div>
            <label for="id_rol">Rol de usuario:</label>
            {{ form.rol }}
        </div>
        
        <button type="submit">Registrar</button>
    </form>
</body>
</html>